@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'PT Sans', sans-serif;
}

section {
    display: flex;
    padding: 75px 0px;
    flex-direction: column;
    justify-content: center;
}

.slider {
    position: relative;
    background-color: #FCDB00;
}

.slider>.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_content {
    width: 65%;
    text-align: center;
}

.slider_content>* {
    margin: 40px 0px;
}

.slider_content h1 {
    line-height: 48px;
    font-size: 48px;
    font-weight: bold;
}

.slider_content p {
    font-size: 27px;
    line-height: 1.5em;
}

.slider_content img {
    margin: 10px;
}

.slider_navigation {
    display: flex;
    position: absolute;
    bottom: 77px;
    left: 0px;
    right: 0px;
    justify-content: center;
}

.slider_items {
    list-style: none;    
    display: flex;
}

.slider_item {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .5s;
    cursor: pointer;
}

.slider_item--active, 
.slider_item:hover {
    background-color: rgba(255, 255, 255, 1);
}

.header {
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin: 77px 0px 0px 0px;
}

.header>.container {
    min-height: auto;
    align-items: center;
    justify-content: space-between;
}

.header>.container>div {
    width: 30%;
}

.logo {
    text-align: center;
}

.header a {
    color: inherit;
}

.social {
    text-align: right;
}

.social a {
    display: inline-block;
    margin: 0px 7.5px;
    font-size: 24px;
}

.content {
    background-color: #FFFFFF;
}

.content>.container {
    flex-direction: column;
}

.content_header {
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

.content_header h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.content_header p {
    font-size: 27px;
    line-height: 40px;
    margin-bottom: 43px;
}

.content_paragrafs {
    display: flex;
}

.content_tablet {
    display: flex;
    width: 40%;
    align-items: center;
}

.content_tablet img {
    width: 100%;
}

.content_paragrafs h1 {
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 35px;
}

.content_paragrafs p {
    font-size: 18px;
    line-height: 24px;
    color: #8B8A8B;
}

.content_l, .content_r {
    width: 30%;
    margin-top: 35px;
}

.content_l div, .content_r div {
    margin-bottom: 83px;
}

.content_tablet {
    margin: 0px 117px;
}

.footer {
    background-color: #010101;
    color: #FFFFFF;
}

.container {
    display: flex;
    width: 95%;
    min-height: 740px;
    max-width: 1140px;
    margin: 0px auto;
    flex-grow: 1;
}

@media screen and (max-width: 520px) {
    .social {
        display: none;
    }
}